* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { /*1 rem = 10px */
  font-size: 62, 5%;
  font-family: "Roboto", sans-serif;
  font-family: "Fira Sans Extra Condensed", sans-serif; /*La use para home (HABEMUS PIZZAS)*/
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.titulos {
  font-size: 1.4rem;
}

.subtitulos {
  font-size: 1.2rem;
}

.texto {
  font-size: 1rem;
}

.sombra {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.45), 0 2px 10px 0 rgba(0, 0, 0, 0.44);
}

.containerTodo {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.containerTodo .titleContainer h1 {
  font-size: 4rem;
  border: 3px solid;
  width: 35rem;
  text-align: center;
}
.containerTodo .ruta {
  width: 15%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: max-content;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 1rem;
  position: fixed;
  left: 2rem;
}
.containerTodo .ruta h3 {
  margin-bottom: 1rem;
}
.containerTodo .ruta li {
  list-style-type: none;
  margin-top: 0.5rem;
}
.containerTodo .ruta li a {
  text-decoration: none;
  color: inherit;
}
.containerTodo .ruta li a:active {
  font-weight: bold;
  color: #f71a17;
}
.containerTodo .menu {
  width: 60%;
  margin: 0 auto;
  position: static;
  margin-left: 20%;
}
.containerTodo .menu .titleContainer {
  width: auto;
  height: 10rem;
  position: relative;
  justify-content: center;
  display: flex;
}
.containerTodo .menu .titleContainer h1 {
  color: white;
  border: black;
  position: absolute;
  top: 2rem;
}
.containerTodo .menu img {
  width: 100%;
  object-fit: cover;
}

.miCarrito {
  width: 15%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 1rem;
  position: fixed;
  right: 2rem;
}
.miCarrito h3 {
  align-self: baseline;
}
.miCarrito div img {
  width: 6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
}
nav li {
  list-style-type: none;
}
nav li a {
  text-decoration: none;
  color: inherit;
}
nav img {
  width: 50px;
  border-radius: 100px;
  margin-right: 2rem;
  margin-left: 2rem;
}
nav ul {
  margin-right: 2rem;
}
nav .buscador {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d2d2d2;
  border-radius: 1.5rem;
  height: 2rem;
  width: 16rem;
  margin-left: 4rem;
}
nav .buscador button {
  border-radius: 1rem 0 0 1rem;
  border: none;
  width: 3rem;
  height: 100%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .buscador button:active {
  background-color: #f71a17;
}
nav .buscador button img {
  width: 1.5rem;
  position: relative;
  left: 1rem;
}
nav .buscador #buscar {
  height: inherit;
  width: 100%;
  background-color: rgba(0, 255, 255, 0);
  border: none;
  border-radius: 1rem;
}
nav .buscador #buscar:focus {
  outline: none;
}

.card {
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  width: 32%;
  height: 5rem;
  margin: 1rem 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card #producto {
  width: 5rem;
  border-radius: 0.5rem;
}
.card .card-texto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.card .card-iconos {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  margin: 0 0.3rem;
}
.card .card-iconos button:nth-child(1) {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.card .card-iconos button:nth-child(1) img {
  width: 1.5rem;
}
.card .card-iconos button:nth-child(2) {
  background-color: #e4e3e7;
  border: none;
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card .card-iconos button:nth-child(2) img {
  width: 1.2rem;
}
.card .card-iconos button:nth-child(2):active {
  box-shadow: none;
  background-color: #898989;
}

.containerProducto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*MOBILE*/
@media (max-width: 768px) and (orientation: portrait) {
  nav ul {
    margin-right: -5rem;
  }
  nav ul li a {
    display: none;
  }
  nav .buscador {
    margin-left: 4rem;
    margin-right: 1rem;
  }
  nav .buscador button img {
    left: 0rem;
  }
  nav .buscador #buscar {
    margin-left: 1rem;
  }
  .containerTodo .menu {
    margin-top: 7rem;
    margin-left: 1rem;
  }
  .containerTodo .menu .titleContainer {
    display: none;
  }
  .containerTodo .menu .card {
    width: 90vw;
  }
  .containerTodo .containerProducto {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    flex-basis: 50%;
  }
  .containerTodo .miCarrito {
    width: 58%;
    background-color: white;
    right: 1rem;
    display: none;
  }
  .containerTodo .ruta {
    width: 100%;
    left: 1rem;
    padding: 0.5rem;
    background-color: white;
    overflow-x: auto;
  }
  .containerTodo .ruta h3 {
    display: none;
  }
  .containerTodo .ruta ul {
    display: flex;
  }
  .containerTodo .ruta ul li {
    margin: 0.5rem;
    text-align: center;
  }
  .mobile-button {
    position: fixed;
    bottom: 1rem;
    height: 3rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #f71a17;
    color: white;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .mobile-button img {
    width: 2rem;
  }
}
/*TABLET*/

/*# sourceMappingURL=style.css.map */
