@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

ul {
  padding: 0;
}

html { /*1 rem = 10px */
  font-size: 62, 5%;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif; /*La use para home (HABEMUS PIZZAS)*/
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.titulos {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.subtitulos {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.texto {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.sombra {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.45), 0 2px 10px 0 rgba(0, 0, 0, 0.44);
  font-family: "Poppins", sans-serif;
}

header {
  position: sticky;
  top: 0;
  background-color: white; /* Personaliza el color de fondo según tu diseño */
  z-index: 1000;
  height: 4rem;
}

.nav-white {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 1rem;
  padding-top: 1rem;
}
.nav-white .header-mobile {
  display: flex;
  padding: 1rem;
}
.nav-white .header-mobile .open-menu {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.nav-white .logo {
  position: relative;
  margin: 0 auto;
  width: 40%;
  align-items: center;
}
.nav-white .logo h1 {
  color: red;
  margin-left: 0.5rem;
}
.nav-white div {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(243, 95, 95, 0.84);
  margin-right: 0.5rem;
}
.nav-white div img {
  width: 2.2rem;
  border-radius: 5rem;
}
.nav-white div .icon {
  width: 2rem;
  border-radius: 0;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.container .conatiner-todo {
  width: inherit;
}
.container aside {
  display: none;
}
.container .aside-visible {
  display: block;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  position: fixed;
  z-index: 1033;
}
.container .aside-visible .close-menu {
  display: block;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
.container .aside-visible .close-menu img {
  width: 3rem;
  height: 3rem;
}
.container aside {
  background: #EB5757;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #EB5757);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #EB5757);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 70vw;
  height: 100vh;
  position: absolute;
  z-index: 9;
  left: 0;
  top: 0;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.75);
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.container aside .iniciar {
  display: flex;
  justify-content: center;
}
.container aside .iniciar a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 0.5rem;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-left: 3rem;
}
.container aside .aside-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}
.container aside .aside-logo img {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
}
.container aside .aside-logo p {
  color: white;
  margin: 1rem;
}
.container aside .nav-red {
  background-color: transparent;
}
.container aside .nav-red ul li {
  list-style: none;
  margin-bottom: 2rem;
  margin-top: 1rem;
  height: 3rem;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  cursor: pointer;
}
.container aside .nav-red ul li:hover {
  background-color: white;
  border-radius: 2rem 0rem 0rem 2rem;
  height: 3rem;
}
.container aside .nav-red ul li:hover a {
  color: black;
  height: 2rem;
}
.container aside .nav-red ul li:hover a img {
  background-color: red;
  border-radius: 1rem;
  width: 1.4rem;
  object-fit: contain;
}
.container aside .nav-red ul li a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  color: white;
}
.container aside .nav-red ul li a img {
  width: 1.2rem;
  margin: 0.3rem;
}

.card {
  width: 90%;
  margin: 0.7rem auto;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card img {
  height: 4rem;
  width: 5rem;
  border-radius: 0.5rem;
  object-fit: cover;
  margin-left: 0.5rem;
}
.card .card-texto {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.9rem;
}
.card .card-texto p:nth-child(2) {
  font-weight: bold;
}
.card .card-iconos {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}
.card .card-iconos img {
  width: 1.5rem;
  height: 1rem;
  align-self: center;
  margin-bottom: 0.8rem;
  margin-left: 3rem;
}
.card .heart {
  align-self: end;
}
.card .active-heart {
  display: none;
}
.card .contador {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  background: #D66D75;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E29587, #D66D75);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E29587, #D66D75);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 1.5rem;
  width: 2rem;
  justify-content: space-around;
  align-items: center;
  height: 1.8rem;
}
.card .contador img {
  margin: 0;
}

.menu {
  width: 100%;
  margin: 0 auto;
}

.categorias {
  width: 100%;
  overflow-x: scroll;
  /* Mostrará la barra de desplazamiento solo cuando sea necesario */
  scrollbar-width: none;
  /* Oculta la barra de desplazamiento de manera general (excepto en navegadores basados en WebKit) */
  -ms-overflow-style: none;
  position: -webkit-sticky;
  /* Para navegadores basados en WebKit */
  position: sticky;
  top: 4.7rem;
  /* Posición en la parte superior de la pantalla */
  background-color: white;
  /* Puedes personalizar el estilo */
  padding: 10px;
  z-index: 1;
}
.categorias::-webkit-scrollbar {
  display: none;
  /* Oculta la barra de desplazamiento en navegadores WebKit */
}
.categorias h3 {
  margin-bottom: 1rem;
}
.categorias ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.categorias ul li {
  text-decoration: none;
}
.categorias ul li a {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
.categorias ul li a .categoria-ovalo {
  background: #D66D75;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E29587, #D66D75);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E29587, #D66D75);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: rgba(243, 95, 95, 0.43);
  margin: 0 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 2rem;
  height: 5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categorias ul li a .categoria-ovalo img {
  width: 3rem;
}

.categorias a.active {
  /* Color de fondo más fuerte para la categoría activa */
}
.categorias a.active .categoria-ovalo {
  background: linear-gradient(180deg, rgb(247, 189, 214) 0%, rgba(237, 0, 0, 0.74) 21%, rgba(215, 1, 1, 0.66) 62%, rgba(229, 39, 39, 0.76) 80%);
}

h3 {
  margin-left: 1rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.promos {
  margin-top: 0rem;
}

#categorias-subtitle {
  margin-top: 3rem;
}

.delivery-retiro {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 7rem;
  border-radius: 0.5rem;
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  bottom: -2rem;
}
.delivery-retiro .rojo {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  position: relative;
  top: -4rem;
  margin-top: 2rem;
}
.delivery-retiro .rojo button {
  width: 50%;
  border: none;
  height: 2rem;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-bottom: 0.5rem;
  align-items: center;
  background-color: white;
}
.delivery-retiro .rojo .active {
  width: 50%;
  background: #D66D75;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E29587, #D66D75);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E29587, #D66D75);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  height: 2rem;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-bottom: 0.5rem;
  align-items: center;
}

.container-delivery {
  display: flex;
  width: 100%;
  height: 5rem;
  padding: 0.5rem;
  position: relative;
  top: -4rem;
}
.container-delivery img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.container-delivery .delivery.active {
  display: block;
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 4.5rem;
  flex-direction: row;
  flex-wrap: wrap;
}
.container-delivery .delivery div:nth-child(4) a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: inherit;
}
.container-delivery .delivery div:nth-child(4) a p {
  background: #D66D75;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E29587, #D66D75);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E29587, #D66D75);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 1rem;
  width: 6rem;
  height: 2rem;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-delivery .delivery div {
  display: flex;
  flex-direction: row;
  margin-top: 0.3rem;
}
.container-delivery .retiro {
  display: none;
}
.container-delivery .retiro.active {
  display: block;
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 4.5rem;
  padding-top: 1.5rem;
}
.container-delivery .retiro div {
  display: flex;
  flex-direction: row;
}
.container-delivery .retiro div div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-delivery .retiro div div p:nth-child(2) {
  background: #D66D75;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E29587, #D66D75);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E29587, #D66D75);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 1rem;
  width: 5rem;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.contenido {
  display: none;
}

.contenido.active {
  display: block;
}

.container-horario {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 2rem auto 1rem auto;
  height: 3rem;
}
.container-horario .abierto {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;
}
.container-horario .abierto p {
  background: #D66D75;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E29587, #D66D75);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E29587, #D66D75);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 1rem;
  width: 6rem;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.container-horario .redes {
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container-horario .redes div {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0.3rem;
}
.container-horario .redes div a div {
  border: 1px solid black;
  border-radius: 1rem;
  width: 3rem;
}
.container-horario .redes div a div img {
  width: 1.3rem;
  height: 1.3rem;
}
.container-horario .redes div img {
  width: 1.5rem;
  height: 1.5rem;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 1rem;
  text-align: center;
}
.modal-content p {
  margin-top: 1rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.miCarritoButton {
  overflow: auto;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: sticky;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}
.miCarritoButton a {
  overflow: auto;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: sticky;
  top: 0.7rem;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  margin: 0 auto;
}
.miCarritoButton a h3:nth-child(1) {
  margin: 0.3rem;
}
.miCarritoButton a div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.miCarritoButton a div img {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  bottom: 0.7rem;
}
.miCarritoButton a div .numerito {
  color: black;
  position: relative;
  right: -0.1rem;
  width: auto;
  height: auto;
  font-weight: bold;
  font-size: medium;
}

/* Estilos para los modales */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#modal-pedidos {
  background-color: #fff;
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Estilos para los botones y contadores */
.card-iconos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.contador {
  display: flex;
  align-items: center;
}

.contador img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 5px;
}

/* Otros estilos */
#pedido-detalle {
  margin-top: 20px;
}

#total-compra {
  margin-top: 10px;
  font-weight: bold;
}

#comprar-btn {
  display: flex;
  flex-direction: row;
  background: rgb(239, 87, 87);
  border-radius: 0.5rem;
  width: 11.5rem;
  justify-content: space-around;
  align-items: center;
  height: 2rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: none;
  margin: 0 auto;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#modal-1 .producto-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

#modal-1 .producto-detalle {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

#modal-1 .productoModal {
  margin-left: 0.5rem;
}
#modal-1 .containerPrecioBotones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#modal-1 .containerPrecioBotones p {
  margin-top: 0;
  font-weight: bold;
}
#modal-1 .containerPrecioBotones .cantidad-buttons {
  display: flex;
  flex-direction: row;
}
#modal-1 .containerPrecioBotones .cantidad-buttons .restar-cantidad {
  display: flex;
  flex-direction: row;
  background: rgb(247, 189, 214);
  background: linear-gradient(180deg, rgb(247, 189, 214) 0%, rgba(232, 126, 126, 0.4094887955) 21%, rgba(236, 152, 152, 0.655987395) 62%, rgba(233, 148, 148, 0.7596288515) 80%);
  border-radius: 1.5rem 0 0 1.5rem;
  width: 1.5rem;
  justify-content: space-around;
  align-items: center;
  height: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: none;
}
#modal-1 .containerPrecioBotones .cantidad-buttons p {
  background: rgb(247, 189, 214);
  background: linear-gradient(180deg, rgb(247, 189, 214) 0%, rgba(232, 126, 126, 0.4094887955) 21%, rgba(236, 152, 152, 0.655987395) 62%, rgba(233, 148, 148, 0.7596288515) 80%);
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal-1 .containerPrecioBotones .cantidad-buttons .sumar-cantidad {
  display: flex;
  flex-direction: row;
  background: rgb(247, 189, 214);
  background: linear-gradient(180deg, rgb(247, 189, 214) 0%, rgba(232, 126, 126, 0.4094887955) 21%, rgba(236, 152, 152, 0.655987395) 62%, rgba(233, 148, 148, 0.7596288515) 80%);
  border-radius: 0 1.5rem 1.5rem 0;
  width: 1.5rem;
  justify-content: space-around;
  align-items: center;
  height: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: none;
}

#modal-1 .eliminar-producto {
  width: 1.5rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  background-color: #ababab;
  color: white;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.producto-imagen {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

/* Estilos para el modal y su fondo oscuro */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  padding: 10%;
}

/* Estilos para el contenido del modal */
.modal-contenido {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 95%;
  text-align: center;
  display: block;
  margin: auto;
}

/* Estilos para el encabezado del modal */
.modal-header {
  padding: 20px;
  background-color: #fcfcfc;
  color: #000000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para la cruz de cierre */
.cerrar-modal {
  font-size: 24px;
  cursor: pointer;
}

/* Estilos para el contenido principal del modal */
.modal-main {
  padding: 20px;
  color: black;
}

/* Estilos para el botón de abrir el modal */
#abrir-modal {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#abrir-modal:hover, #cerrar-modal-footer:hover {
  background-color: #0056b3;
}

.carta {
  width: 100%;
  border-radius: 0;
}
.carta:focus {
  transform: scale(1.5); /* Aumenta el tamaño del elemento al hacer clic o darle foco */
  transition: transform 0.2s; /* Agrega una transición suave */
}

/* Estilo para los modales con clase .modal-aside */
.modal-aside {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  overflow: hidden;
}

/* Estilo para el contenido dentro de los modales */
.modal-content {
  background-color: #fff; /* Fondo blanco */
  margin: 10% auto; /* Centrar verticalmente con margen superior */
  padding: 20px; /* Relleno interno */
  border-radius: 5px; /* Bordes redondeados */
  width: 80%; /* Ancho del contenido */
  max-width: 600px; /* Ancho máximo */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Estilo para el botón de cierre */
.close {
  position: absolute; /* Posición absoluta */
  top: 10px; /* Posición superior */
  right: 15px; /* Posición derecha */
  font-size: 24px; /* Tamaño de fuente grande */
  font-weight: bold; /* Texto en negrita */
  cursor: pointer; /* Cambiar el cursor al puntero al pasar por encima */
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #EB5757;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #EB5757);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #EB5757);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  flex-direction: column;
  color: white;
  z-index: 1000;
}

.hidden {
  overflow-y: hidden;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container-cardCarrito {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container-cardCarrito .cardCarrito {
  width: 90%;
  margin: 0.2rem auto;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.container-cardCarrito .cardCarrito img {
  height: 4rem;
  width: 5rem;
  border-radius: 0.5rem;
  object-fit: cover;
  margin-left: 0.5rem;
}
.container-cardCarrito .cardCarrito .card-texto {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.9rem;
}
.container-cardCarrito .cardCarrito .card-texto p:nth-child(2) {
  font-weight: bold;
}
.container-cardCarrito .cardCarrito .card-iconos {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}
.container-cardCarrito .cardCarrito .card-iconos img {
  width: 1.5rem;
  height: 1rem;
  align-self: center;
  margin-bottom: 0.8rem;
  margin-left: 3rem;
}
.container-cardCarrito .cardCarrito .heart {
  align-self: end;
}
.container-cardCarrito .cardCarrito .active-heart {
  display: none;
}
.container-cardCarrito .cardCarrito p {
  font-weight: bold;
}
.container-cardCarrito .cardCarrito .contador {
  display: flex;
  flex-direction: row;
  background: #D66D75;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E29587, #D66D75);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E29587, #D66D75);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 1.5rem;
  width: 4rem;
  justify-content: space-around;
  align-items: center;
  height: 1.8rem;
}
.container-cardCarrito .cardCarrito .contador img {
  margin: 0;
}

.numerito {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
}

.iniciar {
  display: flex;
  flex-direction: column;
}
.iniciar p {
  color: white;
  margin: auto;
}
.iniciar button {
  width: 60%;
  margin: 1rem auto;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: transparent;
}

body .container .container-todo {
  width: 100%;
}
body footer {
  height: 4rem;
  background: #EB5757;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #EB5757);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #EB5757);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
  align-items: end;
}

.login .login-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100vh;
}
.login .login-desktop .container-bienvenido {
  margin-bottom: 1rem;
}
.login .login-desktop .container-logo-login {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.login .login-desktop .container-logo-login img {
  width: 8rem;
  height: 8rem;
  border-radius: 5rem;
  margin: 0 auto;
}
.login .login-desktop .container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login .login-desktop .container-form .container-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem auto;
}
.login .login-desktop .container-form .container-input img {
  width: 1.7rem;
}
.login .login-desktop .container-form .container-input input {
  border-radius: 1rem;
  height: 2.2rem;
  border: 1px solid gray;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding-left: 0.5rem;
}
.login .login-desktop .container-form button {
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  margin: 2rem auto;
  color: white;
  background: rgb(247, 189, 214);
  background: linear-gradient(180deg, rgb(247, 189, 214) 0%, rgb(232, 126, 126) 21%, rgb(236, 152, 152) 62%, rgb(233, 148, 148) 80%);
  border: none;
}
.login .login-desktop .registro {
  display: flex;
  margin-bottom: 1rem;
}
.login .login-desktop .registro a {
  font-weight: bold;
  color: red;
  text-decoration: none;
  /* Quita el subrayado */
}
.login .login-desktop .ingreso-directo {
  margin: 2rem auto;
}
.login .login-desktop .ingreso-directo a {
  text-decoration: none;
  /* Quita el subrayado */
  color: inherit;
  /* Hereda el color del texto del elemento padre */
  font-weight: bold;
}

.disabled {
  display: none !important;
}

.miCarrito {
  background-color: white;
  width: 50%;
  height: 80vh;
  border-radius: 1rem;
  margin: 1rem auto;
  overflow-y: auto;
}
.miCarrito h3 {
  margin-top: 1rem;
}
.miCarrito .frase {
  margin-left: 5%;
}
.miCarrito .container-acciones {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.miCarrito .container-acciones .button-vaciarCarrito {
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 3rem;
  width: 5rem;
  display: flex;
  justify-content: center;
}
.miCarrito .container-acciones .button-vaciarCarrito button {
  background-color: transparent;
  border: none;
}
.miCarrito .container-acciones .container-resumen {
  display: flex;
  flex-direction: row;
  width: 35%;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
}
.miCarrito .container-acciones .container-resumen .container-total {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.miCarrito .container-acciones .container-resumen .container-total p {
  margin: 0 0.2rem;
  font-weight: bold;
}
.miCarrito .container-acciones .container-resumen .container-comprarAhora {
  height: 100%;
}
.miCarrito .container-acciones .container-resumen .container-comprarAhora button {
  color: white;
  width: 8rem;
  border-radius: 0.5rem;
  border: none;
  height: 100%;
  background: #D66D75;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E29587, #D66D75);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E29587, #D66D75);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.miCarrito #paso1 {
  padding: 1rem;
  text-align: center;
}
.miCarrito #paso1 #metodoForm label {
  width: 50%;
  margin-top: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.miCarrito #paso1 #envioForm {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  width: 50%;
  margin: 0 auto;
}
.miCarrito #paso1 #envioForm input {
  border-radius: 1rem;
  height: 2.2rem;
  border: 1px solid gray;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding-left: 0.5rem;
}
.miCarrito #paso1 #retiroLocalForm {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  width: 50%;
  margin: 0 auto;
}
.miCarrito #paso1 #retiroLocalForm input {
  border-radius: 1rem;
  height: 2.2rem;
  border: 1px solid gray;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding-left: 0.5rem;
}
.miCarrito #paso1 #continuarPaso2Retiro {
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  margin: 0 auto;
  color: white;
  background: rgb(247, 189, 214);
  background: linear-gradient(180deg, rgb(247, 189, 214) 0%, rgb(232, 126, 126) 21%, rgb(236, 152, 152) 62%, rgb(233, 148, 148) 80%);
  border: none;
}
.miCarrito #paso1 #continuarPaso2Envio {
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  margin: 0 auto;
  color: white;
  background: rgb(247, 189, 214);
  background: linear-gradient(180deg, rgb(247, 189, 214) 0%, rgb(232, 126, 126) 21%, rgb(236, 152, 152) 62%, rgb(233, 148, 148) 80%);
  border: none;
}
.miCarrito #paso2 {
  padding: 1rem;
  text-align: center;
}
.miCarrito #paso2 #metodoPagoForm label {
  width: 50%;
  margin-top: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.miCarrito #paso2 #siguientePasoPago {
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  margin: 1rem auto;
  color: white;
  background: rgb(247, 189, 214);
  background: linear-gradient(180deg, rgb(247, 189, 214) 0%, rgb(232, 126, 126) 21%, rgb(236, 152, 152) 62%, rgb(233, 148, 148) 80%);
  border: none;
}
.miCarrito #paso3 h3 {
  text-align: center;
  margin-left: 0;
}
.miCarrito #paso3 #resumen-datos {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.miCarrito #paso3 #resumen-datos h3 {
  border-bottom: 1px solid black;
  width: 100%;
  margin: 1rem 0;
  font-weight: bold;
  font-size: 3rem;
}
.miCarrito #paso3 #productos-comprados {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none;
}
.miCarrito #paso3 #metodo-de-pago {
  margin: 1rem auto;
  font-size: 1.2rem;
}
.miCarrito #paso3 #pago-total {
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: 1.4rem;
}
.miCarrito #paso3 #enviarPedido {
  width: 50%;
  height: 3rem;
  border-radius: 2rem;
  margin: 1rem auto;
  color: white;
  background: rgb(247, 189, 214);
  background: linear-gradient(180deg, rgb(247, 189, 214) 0%, rgb(232, 126, 126) 21%, rgb(236, 152, 152) 62%, rgb(233, 148, 148) 80%);
  border: none;
  margin-left: 25%;
}

.carta {
  background-color: white;
  width: 100%;
  height: 80vh;
  border-radius: 1rem;
  margin: 1rem auto;
}
.carta h3 {
  margin-top: 1rem;
}
.carta img {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: relative;
  border-radius: 1rem;
}

/* Estilo inicial de la imagen */
.imagen-normal {
  transition: transform 0.3s ease;
  /* Agrega una transición suave de 0.3 segundos */
}

/* Estilo cuando la imagen está escalada */
.imagen-normal:hover {
  transform: scale(1.2);
  /* Cambia la escala a 1.5 veces el tamaño original al hacer hover */
  cursor: pointer;
  /* Cambia el cursor a una mano para indicar que es clickeable */
}

.zonaRepartos {
  background-color: white;
  width: 80%;
  height: 80vh;
  border-radius: 1rem;
  margin: 1rem auto;
}
.zonaRepartos h3 {
  margin-top: 1rem;
}
.zonaRepartos iframe {
  width: 100%;
  height: 20rem;
  z-index: 10;
  position: relative;
  border-radius: 1rem;
}

/* Estilo inicial de la imagen */
.imagen-normal {
  transition: transform 0.3s ease;
  /* Agrega una transición suave de 0.3 segundos */
}

/* Estilo cuando la imagen está escalada */
.imagen-normal:hover {
  transform: scale(1.2);
  /* Cambia la escala a 1.5 veces el tamaño original al hacer hover */
  cursor: pointer;
  /* Cambia el cursor a una mano para indicar que es clickeable */
}

/*TABLET*/
@media (min-width: 800px) {
  body {
    background: #EB5757;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #EB5757);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #EB5757);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  body header {
    background: #EB5757;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #EB5757);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #EB5757);
    position: static;
  }
  body .nav-white {
    background: #EB5757;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #EB5757);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #EB5757);
  }
  body .nav-white div {
    justify-content: space-between;
  }
  body .nav-white .iniciar {
    margin-right: 0.5rem;
  }
  body .nav-white .iniciar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    width: 7rem;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  body .nav-white .iniciar a:hover {
    color: red;
    background-color: rgb(255, 255, 255);
  }
  body .nav-white .logo {
    margin: 0;
    width: auto;
    margin-left: 1rem;
  }
  body .nav-white .logo h1 {
    color: white;
    margin-left: 1rem;
  }
  body .nav-white .miCarritoButton {
    background-color: transparent;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .nav-white .miCarritoButton a {
    background-color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    overflow: hidden;
  }
  body .nav-white .miCarritoButton a div {
    color: black;
    display: flex;
    justify-content: revert;
    align-items: flex-end;
  }
  body .nav-white .miCarritoButton a div img {
    width: 1.5rem;
    height: 1.5rem;
  }
  body .nav-white .miCarritoButton a div span {
    position: relative;
    right: 0.4rem;
    height: 1rem;
    top: -0.5rem;
    font-size: medium;
    font-weight: bold;
  }
  body .nav-white .header-mobile {
    display: none;
  }
  body .nav-white .header-mobile .open-menu {
    display: none;
  }
  body .container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 0, 0, 0);
  }
  body .container aside {
    background: none;
    width: 100%;
    display: block;
    width: 20vw;
    height: 100vh;
    position: sticky;
    z-index: 9;
    left: 0;
    top: 0;
    box-shadow: none;
    transform: translateX(0);
    opacity: 1;
    visibility: initial;
  }
  body .container aside .aside-logo {
    display: none;
  }
  body .container aside .close-menu {
    display: none;
  }
  body .container aside .iniciar {
    position: relative;
    top: 1rem;
    left: -1rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  body .container aside .iniciar button {
    width: 50%;
  }
  body .container aside .iniciar a {
    position: relative;
    margin: 0;
    top: 0;
    width: 50%;
  }
  body .container aside .iniciar a:hover {
    background-color: white;
    color: red;
    border: 1px solid black;
  }
  body .container aside .nav-red {
    background-color: rgba(255, 0, 0, 0);
  }
  body .container aside .nav-red ul li {
    list-style: none;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    height: 2rem;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    cursor: pointer;
    position: relative;
  }
  body .container aside .nav-red ul li:nth-child(1) {
    margin-top: 2.2rem;
  }
  body .container aside .nav-red ul li:hover {
    background-color: white;
    border-radius: 2rem 0rem 0rem 2rem;
    height: 2rem;
    transition: 0s;
  }
  body .container aside .nav-red ul li:hover a {
    color: black;
  }
  body .container aside .nav-red ul li:hover::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 1rem 0 rgb(255, 255, 255);
  }
  body .container aside .nav-red ul li:hover::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: 0.5rem;
    box-shadow: 0 -1rem 0 rgb(255, 255, 255);
  }
  body .container aside .nav-red ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    color: white;
  }
  body .container .container-todo {
    background-color: white;
    width: 80%;
    border-radius: 1rem;
    margin: 1rem auto;
  }
  body .container .container-todo .miCarritoButton {
    display: none;
  }
  body .container .container-todo nav {
    width: 100%;
    margin: 0 auto;
    background-color: red;
  }
  body .container .container-todo nav .dropdown {
    display: none;
  }
  body .container .container-todo nav .logo {
    width: 20%;
  }
  body .container .container-todo .container-horario {
    width: 90%;
  }
  body .container .container-todo .delivery .contenido .active {
    align-items: center;
  }
  body .container .container-todo .delivery-retiro {
    width: 90%;
  }
  body .container .container-todo .categorias {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    top: 0;
    padding-left: 20rem;
  }
  body .container .container-todo .categorias ul li {
    margin: auto 0.4rem;
    height: 7rem;
  }
  body .container .container-todo #categorias-subtitle {
    margin-left: 6%;
    width: 100%;
  }
  body .container .container-todo .menu {
    width: 90%;
  }
  body .container .container-todo .menu .container-cards {
    display: flex;
    flex-wrap: wrap;
  }
  body .container .container-todo .menu .container-cards .card {
    width: 32.5%;
    height: 6rem;
  }
  body .container .container-todo .menu .container-cards .card .contador {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    background: #D66D75;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E29587, #D66D75);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E29587, #D66D75);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 1.5rem;
    width: 2rem;
    justify-content: space-around;
    align-items: center;
    height: 2rem;
    cursor: pointer;
  }
  body .container .container-todo .menu .container-cards .card .contador .sum-btn {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
  }
  body .container .container-todo .menu .container-cards .card .contador img {
    width: 0.9rem;
    height: 0.9rem;
  }
  body .container .container-todo .ver-pedido {
    width: 50%;
    margin-left: 25%;
    display: none;
  }
  body .container .container-todo .login {
    background-color: rgb(139, 20, 20);
  }
  body .container .container-todo .login .login-desktop {
    width: 50%;
    background-color: white;
    border-radius: 1rem;
    margin: 10vh auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .modal-aside {
    top: -6vw;
    left: -6vw;
    height: 100vw;
    width: 100vw;
  }
  .disabled {
    display: none;
  }
  .miCarrito {
    background-color: white;
    width: 100%;
    height: 80vh;
    border-radius: 1rem;
    margin: 1rem auto;
    overflow-y: auto;
  }
  .miCarrito h3 {
    margin-top: 1rem;
  }
  .miCarrito .frase {
    margin-left: 5%;
  }
  .miCarrito .container-acciones {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .miCarrito .container-acciones .button-vaciarCarrito {
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    height: 3rem;
    width: 8rem;
    display: flex;
    justify-content: center;
  }
  .miCarrito .container-acciones .button-vaciarCarrito button {
    background-color: transparent;
    border: none;
  }
  .miCarrito .container-acciones .container-resumen {
    display: flex;
    flex-direction: row;
    width: 35%;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .miCarrito .container-acciones .container-resumen .container-total {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .miCarrito .container-acciones .container-resumen .container-total p {
    margin: 0 0.2rem;
    font-weight: bold;
  }
  .miCarrito .container-acciones .container-resumen .container-comprarAhora {
    height: 100%;
  }
  .miCarrito .container-acciones .container-resumen .container-comprarAhora button {
    color: white;
    width: 8rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border: none;
    height: 100%;
    background: #D66D75;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E29587, #D66D75);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E29587, #D66D75);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  #paso3 {
    width: 40%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
