.carta {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    h3{
        margin-top: 1rem;
    }
    img {
        width: 100%;
        height: 100%;
        z-index: 10;
        position: relative;
        border-radius: 1rem;
    }
}

/* Estilo inicial de la imagen */
.imagen-normal {
    transition: transform 0.3s ease;
    /* Agrega una transición suave de 0.3 segundos */
}

/* Estilo cuando la imagen está escalada */
.imagen-normal:hover {
    transform: scale(1.2);
    /* Cambia la escala a 1.5 veces el tamaño original al hacer hover */
    cursor: pointer;
    /* Cambia el cursor a una mano para indicar que es clickeable */
}