.disabled {
    display: none !important;
}

.miCarrito {
    background-color: white;
    width: 100%;
    height: 80vh;
    border-radius: 1rem;
    margin: 1rem auto;
    overflow-y: auto;

    h3 {
        margin-top: 1rem;
    }

    .frase {
        margin-left: 5%;
    }

    .container-acciones {
        width: 90%;
        margin: 1rem auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .button-vaciarCarrito {
            border-radius: 0.5rem;
            box-shadow: map-get($sombra, normal);
            height: 3rem;
            width: 5rem;
            display: flex;
            justify-content: center;

            button {
                background-color: transparent;
                border: none;
            }

        }

        .container-resumen {
            display: flex;
            flex-direction: row;
            width: 35%;
            height: 3rem;
            justify-content: space-between;
            align-items: center;
            border-radius: 0.5rem;


            .container-total {
                display: flex;
                flex-direction: row;
                align-items: center;

                p {
                    margin: 0 0.2rem;
                    font-weight: bold;
                }
            }

            .container-comprarAhora {
                height: 100%;

                button {
                    color: white;
                    width: 8rem;
                    border-radius: .5rem;
                    border: none;
                    height: 100%;
                    background: #D66D75;
                    /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #E29587, #D66D75);
                    /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #E29587, #D66D75);
                    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                }
            }
        }

    }

    #paso1 {
        padding: 1rem;
        text-align: center;

        h2 {}

        #metodoForm {
            label {

                width: 50%;
                margin-top: 1rem;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
            }

            input {}

        }

        #envioForm {
            display: flex;
            flex-direction: column;
            /* text-align: center; */
            width: 50%;
            margin: 0 auto;

            input {
                border-radius: 1rem;
                height: 2.2rem;
                border: 1px solid gray;
                box-shadow: map-get($sombra, normal);
                padding-left: 0.5rem;

            }
        }

        #retiroLocalForm {
            display: flex;
            flex-direction: column;
            /* text-align: center; */
            width: 50%;
            margin: 0 auto;

            input {
                border-radius: 1rem;
                height: 2.2rem;
                border: 1px solid gray;
                box-shadow: map-get($sombra, normal);
                padding-left: 0.5rem;
            }
        }

        #continuarPaso2Retiro {
            width: 10rem;
            height: 3rem;
            border-radius: 2rem;
            margin: 0 auto;
            color: white;
            background: rgb(247 189 214);
            background: linear-gradient(180deg, rgb(247, 189, 214) 0%, rgb(232 126 126) 21%, rgb(236 152 152) 62%, rgb(233 148 148) 80%);
            border: none;
        }

        #continuarPaso2Envio {
            width: 10rem;
            height: 3rem;
            border-radius: 2rem;
            margin: 0 auto;
            color: white;
            background: rgb(247 189 214);
            background: linear-gradient(180deg, rgb(247, 189, 214) 0%, rgb(232 126 126) 21%, rgb(236 152 152) 62%, rgb(233 148 148) 80%);
            border: none;
        }
    }

    #paso2 {
        padding: 1rem;
        text-align: center;

        #metodoPagoForm {
            label {

                width: 50%;
                margin-top: 1rem;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
            }
        }

        #siguientePasoPago {
            width: 10rem;
            height: 3rem;
            border-radius: 2rem;
            margin: 1rem auto;
            color: white;
            background: rgb(247 189 214);
            background: linear-gradient(180deg, rgb(247, 189, 214) 0%, rgb(232 126 126) 21%, rgb(236 152 152) 62%, rgb(233 148 148) 80%);
            border: none;
        }
    }

    #paso3 {
        width: 80mm;
        /* Establece el ancho máximo del contenedor */
        margin: 0 auto;

        img {
            max-width: 100%;
            /* Asegura que las imágenes no excedan el ancho del contenedor */
        }

        h3 {
            text-align: center;
            margin-left: 0;
        }

        #resumen-datos {
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            font-size: 1.2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;

            h3 {
                border-bottom: 1px solid black;
                width: 100%;
                margin: 1rem 0;
                font-weight: bold;
                font-size: 3rem;

            }
        }

        #productos-comprados {
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            font-size: 1.2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            list-style: none;
        }

        #metodo-de-pago {
            margin: 1rem auto;
            font-size: 1.2rem;
        }

        #pago-total {
            border-bottom: 1px solid black;
            font-weight: bold;
            font-size: 1.4rem;

        }

        #enviarPedido {
            width: 50%;
            height: 3rem;
            border-radius: 2rem;
            margin: 1rem auto;
            color: white;
            background: rgb(247, 189, 214);
            background: linear-gradient(180deg, rgb(247, 189, 214) 0%, rgb(232, 126, 126) 21%, rgb(236, 152, 152) 62%, rgb(233, 148, 148) 80%);
            border: none;
            margin-left: 25%;
        }
    }
}