$rojo: rgb(243 95 95 / 43%);
$background: rgb(247, 189, 214);
$gradient: linear-gradient(180deg, rgba(247, 189, 214, 1) 0%, rgba(232, 126, 126, 0.40948879551820727) 21%, rgba(236, 152, 152, 0.6559873949579832) 62%, rgba(233, 148, 148, 0.7596288515406162) 80%);