.card {
    width: 90%;
    margin: 0.7rem auto;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: map-get($sombra, normal);

    img {
        height: 4rem;
        width: 5rem;
        border-radius: 0.5rem;
        object-fit: cover;
        margin-left: 0.5rem;
    }

    .card-texto {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 0.9rem;

        p:nth-child(2) {
            font-weight: bold;
        }
    }

    .card-iconos {
        display: flex;
        flex-direction: column;
        margin-right: 0.5rem;
    }

    .card-iconos img {
        width: 1.5rem;
        height: 1rem;
        align-self: center;
        margin-bottom: 0.8rem;
        margin-left: 3rem;
    }

    .heart {
        align-self: end;
    }

    .active-heart {
        display: none;
    }


    .contador {
        // margin-top: 2rem;
        display: flex;
        flex-direction: row;
        background: #D66D75;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #E29587, #D66D75);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #E29587, #D66D75);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        border-radius: 1.5rem;
        width: 2rem;
        justify-content: space-around;
        align-items: center;
        height: 2rem;

        img {
            margin: 0;
        }
    }
}