.categorias {
    width: 100%;
    overflow-x: scroll;
    /* Mostrará la barra de desplazamiento solo cuando sea necesario */
    scrollbar-width: none;
    /* Oculta la barra de desplazamiento de manera general (excepto en navegadores basados en WebKit) */
    -ms-overflow-style: none;
    position: -webkit-sticky;
    /* Para navegadores basados en WebKit */
    position: sticky;
    top: 7rem;
    /* Posición en la parte superior de la pantalla */
    background-color: white;
    /* Puedes personalizar el estilo */
    padding: 10px;
    z-index: 1;

    &::-webkit-scrollbar {
        display: none;
        /* Oculta la barra de desplazamiento en navegadores WebKit */
    }

    h3 {
        margin-bottom: 1rem;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;

        li {
            text-decoration: none;

            a {
                display: flex;
                flex-direction: column;
                text-align: center;
                text-decoration: none;
                color: inherit;

                .categoria-ovalo {
                    background: #D66D75;
                    /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #E29587, #D66D75);
                    /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #E29587, #D66D75);
                    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                    box-shadow: map-get($sombra, normal);
                    background-color: $rojo;
                    margin: 0 0.5rem;
                    margin-bottom: 0.5rem;
                    border-radius: 2rem;
                    height: 5rem;
                    width: 3.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 3rem;
                    }
                }
            }
        }
    }
}

.categorias a.active {
    .categoria-ovalo {
        background: linear-gradient(180deg, rgb(247, 189, 214) 0%, rgb(237 0 0 / 74%) 21%, rgb(215 1 1 / 66%) 62%, rgb(229 39 39 / 76%) 80%);
    }

    /* Color de fondo más fuerte para la categoría activa */
}