.container-horario {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: map-get($sombra, normal);
    margin: 1rem auto 1rem auto;
    height: 3rem;


    .abierto {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 50%;

        p {
            background: #D66D75;
                    /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #E29587, #D66D75);
                    /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #E29587, #D66D75);
                    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            border-radius: 1rem;
            width: 6rem;
            text-align: center;
            box-shadow: map-get($sombra, normal);
        }
    }

    .redes {
        width: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        div {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-top: 0.3rem;

            a {
                div {
                    border: 1px solid black;
                    border-radius: 1rem;
                    width: 3rem;
                    img {
                        width: 1.3rem;
                        height: 1.3rem;
                    }
                }
            }

            img {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}