.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #EB5757;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #000000, #EB5757);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #000000, #EB5757);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    flex-direction: column;
    color: white;
    z-index: 1000;
}
.hidden{ // para el body
    overflow-y: hidden;
    
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  