/* Estilo para los modales con clase .modal-aside */
.modal-aside {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    overflow: hidden;
}

/* Estilo para el contenido dentro de los modales */
.modal-content {
    background-color: #fff; /* Fondo blanco */
    margin: 10% auto; /* Centrar verticalmente con margen superior */
    padding: 20px; /* Relleno interno */
    border-radius: 5px; /* Bordes redondeados */
    width: 80%; /* Ancho del contenido */
    max-width: 600px; /* Ancho máximo */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Estilo para el botón de cierre */
.close {
    position: absolute; /* Posición absoluta */
    top: 10px; /* Posición superior */
    right: 15px; /* Posición derecha */
    font-size: 24px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
    cursor: pointer; /* Cambiar el cursor al puntero al pasar por encima */
}