.nav-white {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

    .header-mobile {
        display: flex;
        padding: 1rem;

        .open-menu {
            border: 0;
            background-color: rgba(255, 255, 255, 0);
            cursor: pointer;
        }
    }

    .logo {
        position: relative;
        margin: 0 auto;
        width: 40%;
        align-items: center;

        h1 {
            color: red;
        }

    }

    .iniciar {
        margin-right: 0.5rem;

        a {
            color: red;
            text-decoration: none;
            border: 1px solid red;
            width: 7rem;
            display: flex;
            justify-content: center;
            border-radius: 0.5rem;
            box-shadow: map-get($sombra, normal);

            &:hover {
                color: white;
                background-color: red;
            }
        }

    }


    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: rgb(243 95 95 / 84%);
        margin-bottom: 0.5rem;

        img {
            width: 2.2rem;
            border-radius: 5rem;
        }

        .icon {
            width: 2rem;
            border-radius: 0;
        }
    }
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: row;

    .conatiner-todo {
        width: inherit;
    }

    aside {
        display: none;
    }

    .aside-visible {
        display: block;
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        position: fixed;

        .close-menu {
            display: block;
            border: 0;
            background-color: rgba(255, 255, 255, 0);
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0);

            img {
                width: 3rem;
                height: 3rem;
            }
        }
    }

    aside {
        background-color: red;
        width: 70vw;
        height: 100vh;
        position: absolute;
        z-index: 9;
        left: 0;
        top: 0;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .4s;

        .aside-logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 1rem auto;

            img {
                width: 3rem;
                height: 3rem;
                border-radius: 2rem;
            }

            p {
                color: white;
                margin: 1rem;
            }
        }


        .nav-red {
            background-color: red;

            ul {
                li {
                    list-style: none;
                    margin-bottom: 2rem;
                    margin-top: 1rem;
                    height: 3rem;
                    justify-content: flex-start;
                    display: flex;
                    align-items: center;
                    padding-left: 1rem;
                    cursor: pointer;

                    &:hover {
                        background-color: white;
                        border-radius: 2rem 0rem 0rem 2rem;
                        height: 3rem;

                        a {
                            color: black;
                            height: 2rem;
                            img{
                                background-color: red;
                                border-radius: 1rem;
                                width: 1.4rem;
                                object-fit: contain;
                            }
                        }
                    }

                    a {
                        text-decoration: none;
                        color: inherit;
                        font-weight: 500;
                        color: white;
                        img{
                            width: 1.2rem;
                            margin: 0.3rem;
                        }
                    }
                }
            }
        }
    }
}