nav {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

    .dropdown {
        position: relative;
        border-radius: 0.5rem;
    }

    .logo {
        position: relative;
        margin: 0 auto;
        width: 40%;
        align-items: center;
    }

    .iniciar {
        margin-right: 0.5rem;

        a {
            color: red;
            text-decoration: none;
            border: 1px solid red;
            width: 7rem;
            display: flex;
            justify-content: center;
            border-radius: 0.5rem;
            box-shadow: map-get($sombra, normal);
            &:hover{
                color: white;
                background-color: red;
            }
        }

    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: rgb(243 95 95 / 84%);
        margin-bottom: 0.5rem;

        img {
            width: 2.2rem;
            border-radius: 5rem;
        }

        .icon {
            width: 2rem;
            border-radius: 0;
        }
    }

    .buscador {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        align-items: baseline;
        display: none; // para ocultarlo

        .icon-setting {
            width: 1.5rem;
            border-radius: 0;
        }

        button {
            width: 2rem;
            height: 1.9rem;
            border-radius: 1.5rem 0 0 1.5rem;
            background-color: rgb(243 95 95 / 84%);
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;

            img {
                width: 1.5rem;
            }
        }

        input {
            background-color: #d1d1d1;
            border: none;
            height: 1.9rem;
            color: black;
            border-radius: 0 1.5rem 1.5rem 0;
            width: 70vw;
            padding-left: 2rem;
            width: 73vw;
            font-size: large;
        }

        div {
            width: 90%;
            justify-content: center;

        }
    }
}