.orden{
    display: flex;
    width: 90%;
    margin: .5rem auto;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0.5rem;
    box-shadow: map-get($sombra, normal);
    border-radius: 1rem;
}
.ver-detalles{
    background-color: transparent;
    border: none;
    border-radius: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: map-get($sombra, normal);
}
.totales-container{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}
.btn-eliminar-ordenes{
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    height: 4rem;
    box-shadow: map-get($sombra, normal);
    padding: 1rem;
}
.totales-info{
    border-radius: 1rem;
    box-shadow: map-get($sombra, normal);
    padding: 1rem;
    font-weight: bold;
}
.eliminar-orden{
background-color: transparent;
border-radius: 2rem;
    width: 2.5rem;
    height: 2.5rem;
border: none;
box-shadow: map-get($sombra, normal);
}
.ver-detalles img{
    width: 1.5rem;
    height: 1.5rem;
}
.eliminar-orden img{
    width: 1.5rem;
    height: 1.5rem;
}
.info-envios-retiros{
    border-radius: 1rem;
    box-shadow: map-get($sombra, normal);
    padding: 1rem;
    font-weight: bold;
    width: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 1rem auto;
    justify-content: space-between;
}