/*TABLET*/
@media (min-width: 800px) {
    body {
        background-color: red;
        .nav-white{
            .iniciar {
                margin-right: 0.5rem;
        
                a {
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    border: 1px solid rgb(255, 255, 255);
                    width: 7rem;
                    display: flex;
                    justify-content: center;
                    border-radius: 0.5rem;
                    box-shadow: map-get($sombra, normal);
        
                    &:hover {
                        color: white;
                        background-color: red;
                    }
                }
        
            }
            .logo{
                h1{
                    color: white;
                }
            }
    
            .header-mobile {
                display: none;
    
                .open-menu {
                    display: none;
                }
            }
        }
        

        .container {
            width: 100vw;
            display: flex;
            flex-direction: row;
            background-color: red;

            aside {
                background-color: red;
                width: 100%;
                display: block;
                width: 20vw;
                height: 100vh;
                position: sticky;
                z-index: 9;
                left: 0;
                top: 0;
                box-shadow: none;
                transform: translateX(0);
                opacity: 1;
                visibility: initial;

                .aside-logo {
                    display: none;
                }

                .close-menu {
                    display: none
                }



                .nav-red {
                    background-color: red;

                    ul {
                        li {
                            list-style: none;
                            margin-bottom: 0.5rem;
                            margin-top: 1.9rem;
                            height: 2rem;
                            justify-content: flex-start;
                            display: flex;
                            align-items: center;
                            padding-left: 1rem;
                            cursor: pointer;

                            &:hover {
                                background-color: white;
                                border-radius: 2rem 0rem 0rem 2rem;
                                height: 2rem;

                                a {
                                    color: black;
                                }
                            }

                            a {
                                text-decoration: none;
                                color: inherit;
                                font-weight: 500;
                                color: white
                            }
                        }
                    }
                }
            }

            .container-todo {
                background-color: white;
                width: 80%;
                border-radius: 1rem;
                margin: 1rem auto;

                nav {
                    width: 100%;
                    margin: 0 auto;
                    background-color: red;

                    .dropdown {
                        display: none;
                    }

                    .logo {
                        width: 20%;
                    }
                }

                .container-horario {
                    width: 90%;
                }

                .delivery {
                    .contenido {
                        .active {
                            align-items: center;
                        }
                    }
                }

                .delivery-retiro {
                    width: 90%;
                }

                .categorias {
                    display: flex;
                    justify-content: center;
                    width: 90%;
                    margin: 0 auto;
                    align-items: center;

                    ul {
                        li {
                            margin: auto 0.4rem;
                            height: 7rem;
                        }
                    }
                }

                #categorias-subtitle {
                    margin-left: 6%;
                    width: 100%;

                }

                .menu {
                    width: 90%;

                    .container-cards {
                        display: flex;
                        flex-wrap: wrap;

                        .card {
                            width: 32.5%;
                            height: 6rem;
                        }
                    }
                }

                .ver-pedido {
                    width: 50%;
                    margin-left: 25%;
                }

                .login {
                    background-color: rgb(139, 20, 20);

                    .login-desktop {
                        width: 50%;
                        background-color: white;
                        border-radius: 1rem;
                        margin: 10vh auto;
                        box-shadow: map-get($sombra, normal);

                    }
                }

            }
        }
    }

}