/*TABLET*/
@media (min-width: 800px) {
    body {
        background: #EB5757;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #000000, #EB5757);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #000000, #EB5757);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        header {
            background: #EB5757;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #000000, #EB5757);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #000000, #EB5757);
            position: static;
        }

        .nav-white {
            background: #EB5757;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #000000, #EB5757);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #000000, #EB5757);

            div {
                justify-content: space-between;
            }

            .iniciar {
                margin-right: 0.5rem;

                a {
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    border: 1px solid rgb(255, 255, 255);
                    width: 7rem;
                    display: flex;
                    justify-content: center;
                    border-radius: 0.5rem;
                    box-shadow: map-get($sombra, normal);

                    &:hover {
                        color: red;
                        background-color: rgb(255, 255, 255);
                    }
                }

            }

            .logo {
                margin: 0;
                width: auto;
                margin-left: 1rem;

                h1 {
                    color: white;
                    margin-left: 1rem;
                }


            }

            .miCarritoButton {
                background-color: transparent;
                height: 4rem;
                width: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    background-color: rgb(255, 255, 255);
                    border-radius: 1.5rem;
                    height: 3rem;
                    width: 3rem;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                    overflow: hidden;

                    div {
                        color: black;
                        display: flex;
                        justify-content: revert;
                        align-items: flex-end;


                        img {
                            width: 1.5rem;
                            height: 1.5rem;
                        }

                        span {
                            position: relative;
                            right: 0.4rem;
                            height: 1rem;
                            top: -0.5rem;
                            font-size: medium;
                            font-weight: bold;
                        }
                    }
                }
            }

            .header-mobile {
                display: none;

                .open-menu {
                    display: none;
                }
            }
            .buscador{
                position: relative;
                top: -3rem;
                width: 30%;
                margin-left: 40%;
            }
        }


        .container {
            width: 100vw;
            display: flex;
            flex-direction: row;
            background-color: rgba(255, 0, 0, 0);

            aside {
                background: none;
                width: 100%;
                display: block;
                width: 20vw;
                height: 100vh;
                position: sticky;
                z-index: 9;
                left: 0;
                top: 0;
                box-shadow: none;
                transform: translateX(0);
                opacity: 1;
                visibility: initial;

                .aside-logo {
                    display: none;
                }

                .close-menu {
                    display: none
                }

                .iniciar {
                    position: relative;
                    top: 1rem;
                    left: -1rem;
                    height: 5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    text-align: center;
                    width: 100%;

                    button {
                        width: 50%;
                    }

                    a {
                        position: relative;
                        margin: 0;
                        top: 0;
                        width: 50%;
                    }

                    a:hover {
                        background-color: white;
                        color: red;
                        border: 1px solid black;
                    }
                }


                .nav-red {
                    background-color: rgba(255, 0, 0, 0);

                    ul {
                        li {
                            list-style: none;
                            margin-bottom: 0.5rem;
                            margin-top: 1.5rem;
                            height: 2rem;
                            justify-content: flex-start;
                            display: flex;
                            align-items: center;
                            padding-left: 1rem;
                            cursor: pointer;
                            position: relative;

                            &:nth-child(1) {
                                margin-top: 2.2rem;
                            }

                            &:hover {
                                background-color: white;
                                border-radius: 2rem 0rem 0rem 2rem;
                                height: 2rem;
                                transition: 0s;

                                a {
                                    color: black;
                                }

                                &::before {
                                    content: '';
                                    position: absolute;
                                    width: 1rem;
                                    height: 2rem;
                                    bottom: 100%;
                                    right: 0;
                                    background-color: transparent;
                                    border-bottom-right-radius: .5rem;
                                    box-shadow: 0 1rem 0 rgb(255, 255, 255);
                                }

                                &::after {
                                    content: '';
                                    position: absolute;
                                    width: 1rem;
                                    height: 2rem;
                                    top: 100%;
                                    right: 0;
                                    background-color: transparent;
                                    border-top-right-radius: .5rem;
                                    box-shadow: 0 -1rem 0 rgb(255, 255, 255);
                                }
                            }


                            a {
                                text-decoration: none;
                                color: inherit;
                                font-weight: 500;
                                color: white
                            }
                        }
                    }
                }
            }

            .container-todo {
                background-color: white;
                width: 80%;
                border-radius: 1rem;
                margin: 2rem auto;
                z-index: 1;

                .miCarritoButton {
                    display: none;
                }

                nav {
                    width: 100%;
                    margin: 0 auto;
                    background-color: red;

                    .dropdown {
                        display: none;
                    }

                    .logo {
                        width: 20%;
                    }

                }

                .container-horario {
                    width: 90%;
                    margin-top: 1rem;
                }

                .delivery {
                    .contenido {
                        .active {
                            align-items: center;
                        }
                    }
                }

                .delivery-retiro {
                    width: 90%;
                }

                .categorias {
                    display: flex;
                    justify-content: center;
                    width: 90%;
                    margin: 0 auto;
                    align-items: center;
                    top: 0;
                    padding-left: 20rem;

                    ul {
                        li {
                            margin: auto 0.4rem;
                            height: 7rem;
                        }
                    }
                }

                #categorias-subtitle {
                    margin-left: 6%;
                    width: 100%;

                }

                .menu {
                    width: 90%;

                    .container-cards {
                        display: flex;
                        flex-wrap: wrap;

                        .card {
                            width: 32.5%;
                            height: 4rem;
                            padding: .2rem;

                            .contador {
                                display: flex;
                                    flex-direction: row;
                                    border-radius: 1.5rem;
                                    width: 4rem;
                                    justify-content: space-around;
                                    align-items: center;
                                    height: 1.8rem;
                        
                                    img {
                                        margin: 0;
                                    }
                        
                                    .sum-btn {
                                        background: #D66D75;
                                        /* fallback for old browsers */
                                        background: -webkit-linear-gradient(to right, #E29587, #D66D75);
                                        /* Chrome 10-25, Safari 5.1-6 */
                                        background: linear-gradient(to right, #E29587, #D66D75);
                                        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                                        height: 1.7rem;
                                        width: 1.7rem;
                                        border-radius: 1rem;
                                        padding: .3rem;
                                    }
                                    .trash-btn{
                                        // background: #D66D75;
                                        // /* fallback for old browsers */
                                        // background: -webkit-linear-gradient(to right, #E29587, #D66D75);
                                        // /* Chrome 10-25, Safari 5.1-6 */
                                        // background: linear-gradient(to right, #E29587, #D66D75);
                                        // /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                                        height: 1.7rem;
                                        width: 1.7rem;
                                        border-radius: 1rem;
                                        padding: .3rem;
                                        border: 2px solid #E29587;
                                    }
                                    p{
                                        margin: 0 .3rem;
                                    }
                            }
                        }
                    }
                }

                .ver-pedido {
                    width: 50%;
                    margin-left: 25%;
                    display: none;
                }

                .login {
                    background-color: rgb(139, 20, 20);

                    .login-desktop {
                        width: 50%;
                        background-color: white;
                        border-radius: 1rem;
                        margin: 10vh auto;
                        box-shadow: map-get($sombra, normal);

                    }
                }

            }
        }
    }

    .modal-aside {
        top: -6vw;
        left: -6vw;
        height: 100vw;
        width: 100vw;
    }




    //mi carrito//////////////////////////////////////////////////
    .disabled {
        display: none;
    }

    .miCarrito {
        background-color: white;
        width: 100%;
        height: 80vh;
        border-radius: 1rem;
        margin: 1rem auto;
        overflow-y: auto;

        h3 {
            margin-top: 1rem;
        }

        .frase {
            margin-left: 5%;
        }

        .container-acciones {
            width: 90%;
            margin: 1rem auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .button-vaciarCarrito {
                border-radius: 0.5rem;
                box-shadow: map-get($sombra, normal);
                height: 3rem;
                width: 8rem;
                display: flex;
                justify-content: center;

                button {
                    background-color: transparent;
                    border: none;
                }

            }

            .container-resumen {
                display: flex;
                flex-direction: row;
                width: 35%;
                height: 3rem;
                justify-content: space-between;
                align-items: center;
                border-radius: 0.5rem;
                box-shadow: map-get($sombra, normal);

                .container-total {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    p {
                        margin: 0 0.2rem;
                        font-weight: bold;
                    }
                }

                .container-comprarAhora {
                    height: 100%;

                    button {
                        color: white;
                        width: 8rem;
                        border-radius: 0 .5rem .5rem 0;
                        border: none;
                        height: 100%;
                        background: #D66D75;
                        /* fallback for old browsers */
                        background: -webkit-linear-gradient(to right, #E29587, #D66D75);
                        /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to right, #E29587, #D66D75);
                        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    }
                }
            }

        }
    }

    #paso3 {
        width: 40%;
        margin: 0 auto;
        border: 1px solid black;
        padding: 0.5rem;
    }
}